/node_modules
/public/hot
/public/storage
/storage/*.key
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
NEW PROJECT STARTING STANDARDS
new theme to integrate with 5.7s
html
